
@media screen and (min-width:768px){
    
    .header_cell{display: none; }
    .news{display: flex; width: 80%; }
    .item{ margin: auto; }
    .item .act{margin-top: 10px;}
    .item p{margin-top: -20px;}
    
    
   
}
@media screen and (min-width:1000px){
    .wrap {display: flex;width: 62.5%; margin: 0 auto;}
}
@media screen and (max-width:767px){
    
    .path_box{display: none;}
    .header{display: none; }
    .item p{margin-top: -30px;}
    
}  

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    
    font-family: 微軟正黑體;
}
.header{   
    
    background-color: rgb(206, 72, 72);
    position: relative;
}
.header .logo{
    display: flex;
    padding: 5px;
}
.header nav{
    display: flex;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
}
.header nav a{
    display: inline-block;
    padding: 15px;
    font-size: 18px;
    color: white;
    
}
.header .search{
    position: relative;
    top: 15px;
}
.search-bar{
    border: 0px;
    background-color:rgba(255,255,255 ,.8);
    height: 23px;
}
.search-btn{
    height: 23px;
    border: 0px;
    padding: 3px;
    background-color:rgba(255,255,255 ,0);
    position: absolute;
    left: 130px;
}
.header nav a:hover::after{
    content: "";
    width: 13px;
    height: 13px;
    background-color: rgb(168, 46, 46);
    position: absolute;
    top: 50%;
    border-radius: 100%;
}
.banner img{
    width: 100%; 
    
}

.path{
    display: flex;
    background-color:rgb(206, 72, 72);
    
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -4px;
    box-shadow: 5px 3px 4px rgb(107, 40, 40);
    
}
.path li {
    
    display: flex;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
   
    
}
.path li img{
    display: flex;
    text-align: center;
    vertical-align: middle;
    padding: 5px 50px;
    border-radius: 50%;
}
.path li a{
    color: white;
    
}
.path li a:hover{
    background-color: rgb(221, 142, 142);
    color: brown;
}
.news{
    
    
    text-align: center;
    margin: auto;
    
}
.news h3{
    display: inline-block;
    font-size: 24px;
    padding: 2px 60px;
    border-radius: 100px;
    background-color: rgb(206, 72, 72);
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
}
.news .item{
    
    
    border-left: rgb(190, 189, 189) 2px double;
    position: relative;
}
.news .item p{
    display: inline-block;
    position: absolute;
    right: 15px;
    padding: 3px 25px;
    border-radius: 100px;
    
    background-color: rgb(206, 72, 72);
    color: white;
    font-weight: lighter;
}
.news .item li{
    text-align: left;
    list-style: none;
    padding-left: 30px;
    padding-bottom: 20px;
}
.news .item a{
    color: rgb(151, 12, 12);
}
.news .item li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: rgb(221, 142, 142);
    margin: 10px 0px;
    transition: .5s .3s;    
}
.news .item li:hover:after{
    width: 90%;
}

.pic h2{
    display: block;
    text-align: center;
    justify-content: center;
}
.pic{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(241, 202, 202);
    padding: 20px 0px;
    color: rgb(206, 72, 72);
    font-weight: bolder;
}
.pic01, .pic02, .pic03{
    padding: 15px 30px 20px;
    display: inline-block; 
}
.pic p{
    padding-top: 20px;
}
.pic div:hover{
    background-color: white;
}
.wrap{
    
    
    margin-top: 50px;
}
.wrap .video img{
    width:100%;
}
.wrap .video{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    
}
.wrap .txt{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: brown;
    
}
.wrap .video h3::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(221, 142, 142);
    margin: 10px 0px;
}
.linkpic h2{
    display: block;
    text-align: center;
    justify-content: center;
}
.linkpic{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(206, 72, 72);
    padding: 20px 0px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    position: relative;
}
.pic001, .pic002, .pic003{
    position: relative;
    height: 70px;
    padding: 10px 120px;
    margin: 15px 70px;
    display: inline-block; 
    background-color: rgb(255, 255, 255);
}
.linkpic img{
    position: absolute;
    left: 10px;
}
.linkpic a{
    font-size: 20px;
    position: absolute;
    top: 20px;
}
.footer{
    background-color: rgb(206, 72, 72);
    text-align: center;
    padding: 10px;
}
.header_cell .logo_cell{
    padding: 5px;
}
#menu_control{
    position: absolute;
    z-index: 2;
    opacity: 0;
}
.header_cell{
    background-color: rgb(206, 72, 72);
    height: 50px;
    position: relative;
}
.menu_btn{
    
    position: absolute;
    top: 5px;
    right: 10px;
    height: 40px;
    width: 40px;
}
.menu_btn span{
    opacity: 0;
    overflow: hidden;
}
.menu_btn::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 0px 1px 8px rgba(187, 186, 186,.7);
}
#menu_control:checked ~ .header_cell nav{
    left: 0px;
}
.header_cell nav{
    width: 80%;
    position: absolute;
    top: 50px;
    left: -100%;
    background-color: rgb(216, 124, 124);
    transition: .5s;
    z-index: 99;
    
}
.header_cell nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid rgb(245, 218, 218);
    color: #fff;
    
}
.header_cell nav a:hover{
    background-color: brown;
}
.search-bar_cell{
    width: 100%;
    height: 30px;
    background-color: rgb(238, 195, 195);
    border: 0px;
    font-size: 16px;  
}
#search2{
    
    padding-top: 0px;
    padding-bottom:0px;
    left: 15px;
}
.search-btn_cell{
    border: 0px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    right: 5%;
    position: absolute;
    top: 0px;
    background-color: rgb(238, 195, 195);
}
::placeholder{
    color: brown
}
